Дарите солнечное настроение круглый год вместе с Seiz.pp.ua!

С 2002 года на рынке
Уже более 10 лет мы доставляем цветы по Москве и Московской области.

3 часа на доставку заказа
Наша служба доставки привезет ваш заказ в любую точку Москвы уже через 3 часа! Узнайте подробнее об условиях доставки цветов здесь.

400+ видов цветов
Ежедневно в нашем каталоге представлены букеты и цветочные композиции из более чем 400 видов цветов и растений из Колумбии, Коста-Рики, Кении, Израиля, Эквадора, Таиланда, Вьетнама и России.

700+ букетов и композиций
Мы предлагаем огромный ассортимент подарочных букетов, цветочных корзин и композиций.

7500+ букетов на день рождения
Мы гордимся, что более 7 500 именинников и юбиляров по всей Москве получили в подарок наши букеты и цветочные корзины.

1250+ букетов для невесты
...а также бутоньерки для жениха и гостей, композиции для праздничного банкета и автомобилей - наши цветы были участниками более тысячи свадебных церемоний.

Для обладателей планшетов и смартфонов мы создали мобильную версию сайта. Теперь наши покупатели, кто всегда в движении, имеют возможность заказывать цветы легко и удобно в любое время и в любом месте!

Основные направления нашей работы
Букеты и композиции
Цветы для поздравлений на любой праздник или торжественное событие. Все букеты и композиции, представленные в онлайн-каталоге, являются авторскими произведениями наших мастеров.

Свадебная флористика
Коллекция авторских букетов для невесты, бутоньерок, украшений для прически, композиций для украшения автомобилей и свадебного торжества и многое другое.

Новогодние подарки
Для поздравления и украшения интерьера: новогодние композиции и букеты из ароматной живой ели, украшенные праздничными аксессуарами и символами Рождества. Корпоративные новогодние подарки и оформление праздника.

Сухоцветы
Композиции, букеты и панно из сухих и стабилизированных цветов, растений, листьев, плодов, декоративных аксессуаров. Огромный ассортимент композиций из сухоцветов разнообразных форм и стилей!

Оформление цветами
Фитодизайн и украшение интерьеров при помощи живых цветов, комнатных растений и сухоцветов. Оформление праздничных торжеств, банкетных залов, ресторанов, презентаций и выставок.

Траурная флористика
Ритуальные венки, композиции, корзины и букеты из живых цветов и натуральных еловых ветвей для прощальной церемонии.

Букеты и композиции, которые по тем или иным причинам недоступны для заказа в настоящее время, мы бережно храним в архиве. Однако не исключено, что в скором времени Вы сможете вновь увидеть в нашем каталоге эти работы.

