<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>#id</td>
        <td>Category</td>
        <td>Delete</td>
    </tr>

    </thead>
    <tbody>
    <?php foreach ($data['flower'] as $item) { ?>
    <tr>
        <td><?=$item['id_category']?></td>
        <td><?=mb_ucfirst($item['category_name'])?></td>
        <td><a href="/admin/pages/delete_category/<?=$item['id_category']?>"><button class="btn btn-sm btn-danger">Delete</button></a></td>
    </tr>
    <?php } ?>
    </tbody>
</table>