<h3>Edit page</h3><br/>
<div class="row">

    <div class="col-md-8">
        <form method="post" action="" enctype="multipart/form-data">
            <input type="hidden" name="id" value="<?=$data['page']['id']?>" />
            <div class="form-group">
                <label for="category">Category</label>
                <input type="text" id="category" name="category" value="<?=$data['page']['category']?>" class="form-control" placeholder="Rose"/>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="<?=$data['page']['name']?>" class="form-control" placeholder="Black Moon"/>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" id="price" name="price" value="<?=$data['page']['price']?>" class="form-control" placeholder="126"/>
            </div>
            <div class="form-group">
                <label for="size">Size</label>
                <input type="text" id="size" name="size" value="<?=$data['page']['size']?>" class="form-control" placeholder="80"/>
            </div>
            <div class="form-group">
                <label for="file">Upload image</label>
                <input type="file" id="file" name="file" value="" class="form-control" accept="image/jpeg, image/png"/>
            </div>
            <div class="form-group">
                <label for="is_published">Available? (В наличии?)</label>
                <input type="checkbox" name="is_available" id="is_available" <?php if( $data['page']['is_available'] ) { ?>checked="checked" <?php } ?>/>
            </div>
            <input type="submit" class="btn btn-success" />

        </form>
        </div>
    <div class="col-md-4">
        <label for="file">
        <img src="<?=$data['page']['foto']?>">
    </div>
</div>

