<pre>
    <?php
    print_r($data['pages']);
    ?>
</pre>

<div class="row">
    <div class="col-md-4">

        <div class="thumbnail">
            <img src="/webroot/img/slide5.png" alt="...">
            <div class="caption">
                <h3>Роза марки The best</h3>
                <p>Цена: договорная</p>
                <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="/webroot/img/slide5.png" alt="...">
            <div class="caption">
                <h3>Роза марки The best</h3>
                <p>Цена: договорная</p>
                <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="/webroot/img/slide5.png" alt="...">
            <div class="caption">
                <h3>Роза марки The best</h3>
                <p>Цена: договорная</p>
                <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="/webroot/img/slide5.png" alt="...">
            <div class="caption">
                <h3>Роза марки The best</h3>
                <p>Цена: договорная</p>
                <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="/webroot/img/slide5.png" alt="...">
            <div class="caption">
                <h3>Роза марки The best of the best</h3>
                <p>Цена: договорная</p>
                <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="/webroot/img/slide6.jpg" alt="...">
            <div class="caption">
                <h3>Роза марки The best</h3>
                <p>Цена: договорная</p>
                <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4"><div class="thumbnail">
        <img src="/webroot/img/slide4.jpg" alt="...">
        <div class="caption">
            <h3>Роза марки The best</h3>
            <p>Цена: договорная</p>
            <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
        </div>
    </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="/webroot/img/slide5.png" alt="...">
            <div class="caption">
                <h3>Роза марки The best</h3>
                <p>Цена: договорная</p>
                <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="/webroot/img/slide5.png" alt="...">
            <div class="caption">
                <h3>Роза марки The best</h3>
                <p>Цена: договорная</p>
                <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
            </div>
        </div>
    </div>
</div>
