<?php
$rez = new Page();
$rez1 = $rez->getLastThreeId();
?>

<h3>Последние поступления:</h3>
<?php foreach ($rez1 as $item){ ?>
<div class="media">
  <div class="media-left">
    <a href="/pages/view/<?=$item['category']?>">
      <img class="media-object" src="<?=$item['foto']?>" alt="Photo_<?=$item['id']?>">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><?=mb_ucfirst($item['category'])?> <?=mb_ucfirst($item['name'])?></h4>
    Размер: <?=$item['size']?> см<br>
    Цена: <?=$item['price']?> грн
  </div>
</div>
<?php } ?>
