<?php
$rez = new Flower();
$rez1 = $rez->getListCategoryCount();
?>
<div class="list-group">
  <h3><?=mb_ucfirst(__('category', 'category'))?>:</h3>
  <?php foreach ($rez1 as $item){ ?>
    <a href="/<?= App::getRouter()->getLanguage()?>/pages/view/<?=$item['category']?>" class="list-group-item list-group-item-warning <?php if( App::getRouter()->getUri() == App::getRouter()->getLanguage().'/pages/view/'. $item['category'] ) {?>active<?php }?>">
      <span class="badge"><?=$item['count']?></span><?=mb_ucfirst(__($item['category'], $item['category']))?></a>
  <?php } ?>
</div>
