<?php
$rez = new Page();
$rez1 = $rez->getLastThreeId();
?>

<h3><?=mb_ucfirst(__('the latest', 'the latest'))?>:</h3>
<?php foreach ($rez1 as $item){ ?>
<div class="media">
  <div class="media-left">
    <a href="/<?= App::getRouter()->getLanguage()?>/pages/view/<?=$item['category']?>">
      <img class="media-object" src="<?=$item['foto']?>" alt="Photo_<?=$item['id']?>">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><?=mb_ucfirst(__($item['category'], $item['category']))?> <br><?=mb_ucfirst($item['name'])?></h4>
    <?=mb_ucfirst(__('price','price'))?>: <?=$item['price']?> <?=__('uah','uah')?>
  </div>
</div>
<?php } ?>
