<h3><?=mb_ucfirst(__($data['page'][0]['category'], $data['page'][0]['category']))?></h3>

<div class="row">
    <?php
    $i = 0;
    foreach($data['page'] as $page_data) { ?>
        <?= ($i % 3 == 0 or $i == 0) ? '<div class="row">' : null?>

        <div class="col-md-4">
            <div class="thumbnail">
                <img src="<?=$page_data['foto']?>" alt="Photo_<?=$page_data['id']?>" width="300px" height="374px">
                <div class="caption">
                    <h3><?=mb_ucfirst(__($page_data['category'], $page_data['category']))?> <br> <?=mb_ucfirst($page_data['name'])?></h3>
                    <p><?=mb_ucfirst(__('size','size'))?>: <?=$page_data['size']?> <?=__('cm','cm')?></p>
                    <p><?=mb_ucfirst(__('price','price'))?>: <?=$page_data['price']?> <?=__('uah','uah')?></p>
                    <p><?= ($page_data['is_available'] == 1) ? mb_ucfirst(__('available','available')) : mb_ucfirst(__('not available','not available'))?></p>
                    <!--
                    <p><a href="/admin/pages/edit/<?=$page_data['id']?>" class="btn btn-primary" role="button">Edit</a>
                        <a href="/admin/pages/delete/<?=$page_data['id']?>" onclick="return confirmDelete();" class="btn btn-default" role="button">Delete</a></p>
                        -->
                </div>
            </div>
        </div>

        <?php $i++;
        echo ($i % 3 == 0) ? '</div>'. "\n" : null;
        ?>
    <?php } ?>
</div>