<img src="/webroot/img/delivery2.jpg" class="leftimg">
Бесплатно<br>
В период с 9 до 18 часов заказы по Москве в пределах МКАД доставляются бесплатно.<br>
Для Вашего удобства мы разбили интервал доставки с 9 до 18 часов на несколько, и Вы можете выбрать из них любой, наиболее подходящий для Вас и Вашего получателя. 31 декабря и 1 января доставка осуществляется по праздничным тарифам.<br>
<br>
Круглосуточно<br>
Мы доставляем цветы по Москве и ближайшему Подмосковью круглосуточно.<br>
Заказы на сайте принимаются круглосуточно, без выходных. Если Ваш заказ был оформлен в рабочее время с 9:00 до 21:00 (MSK), наш менеджер перезвонит Вам в течение 20 минут, чтобы подтвердить заказ и уточнить оптимальное время доставки.<br>
<img src="/webroot/img/delivery3.jpg" class="rightimg">
<br>
Срочно<br>
Мы предлагаем услугу срочной доставки заказанных букетов - от 2-х часов.<br>
Услуга не предоставляется в Новый год, День Святого Валентина (14 февраля), Международный женский день (8 марта), а также в предпраздничные дни.<br>
<br>
<img src="/webroot/img/delivery4.jpg" class="leftimg">
Доставка к точному времени<br>
Мы предлагаем услугу доставки цветов к определенному времени.<br>
Доставка осуществляется в интервале +/- 15 минут. Стоимость услуги: 850 руб. + стоимость доставки согласно Тарифам.<br>
<br>
Подробнее об услуге
Доставка по номеру телефона
Доставка по номеру телефона<br>
Мы можем доставить Ваш заказ, зная только номер телефона Получателя.<br>
Мы сами свяжемся с Получателем и уточним удобные для него время и адрес доставки Вашего заказа.<br>