
<div class="col-md-7">
<h3>Напишите нам:<h3>
<form action="" method="post">
    <input type="text" class="form-control" name="name" placeholder="Your Name" /><br/>
    <input type="text" class="form-control" name="email" placeholder="Your Email" /><br/>
    <textarea name="message" class="form-control" placeholder="Your Message"></textarea><br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Отправить</button>
</form>
</div>
<div class="col-md-5">
    <h3>Наши контакты:</h3>
THE COMPANY NAME<br>
8901 Marmora Road,<br>
Glasgow, D04 89GR.<br>
Freephone:+1 800 559 6580<br>
Telephone:+1 959 603 6035<br>
FAX:+1 504 889 9898<br>
E-mail: mail@demolink.org<br>
9863 - 9867 Mill Road,<br>
Cambridge, MG09 99HT<br>
Freephone:+1 800 559 6580<br>
Telephone:+1 959 603 6035<br>
FAX:+1 504 889 9898<br>
E-mail: mail@demolink.org<br>
</div>